{{define "book-list-view"}}
{{template "layout-view"}}
    <header>
        <h1>Daftar Buku</h1>
    </header>

    <section id="book-list">
        <table>
            <thead>
                <tr>
                    <th>Kode Buku</th>
                    <th>Nama Buku</th>
                    <th>Jenis Buku</th>
                    <th>Pengarang</th>
                    <th>Harga</th>
                    <th>Diskon</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{range .Books}} <!-- Menampilkan daftar buku -->
                <tr>
                    <td>{{.ID}}</td> <!-- Menampilkan ID Buku -->
                    <td>{{.Title}}</td> <!-- Menampilkan Nama Buku -->
                    <td>{{.Category}}</td> <!-- Menampilkan Jenis Buku -->
                    <td>{{.Author}}</td> <!-- Menampilkan Pengarang -->
                    <td>Rp{{.Price | printf "%.2f"}}</td> <!-- Menampilkan Harga dengan format Rupiah -->
                    <td>{{.Discount}}%</td> <!-- Menampilkan Diskon -->
                    <td>
                        <a href="/edit-book/{{.ID}}">Edit</a> |
                        <a href="/delete-book/{{.ID}}">Hapus</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="7">Tidak ada buku untuk ditampilkan</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </section>
{{end}}
